body{
    margin: 0;
    font-family: "Lato";
    /* display: block; */
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    
   
 
    
    
   

}
:root{
    --text-color: #333333;
    --translate: translate(40%, -0%);
   
}


 #center{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 /* align-content: center; */
 width: 100%;
 margin-top: 40px;
 
}

nav {
    background-color: #333;
    overflow: fit;
    position: fixed;
    font-size: 20px;
    letter-spacing: 1px;
    align-self: none;
    width: 100%;
    
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: end;
  }
  
  nav li {
    float: left;
  }
  
  nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #ddd;
    color: black;
  }
  #mobile-nav{
    display: none;
    

  }
  #mobile-nav button{
    float: right;
    border: none;
    font-size: 18px;
    margin: 10px;
    padding: 10px;
    background-color: rgba(0,0,0,0);
  }
  #mobile-nav button:hover{
    transform: scale(1.1);
    cursor: pointer;
  }
  /*HEader*/
  #header{
    /* transform: var(--translate); */


    width: 50%;
 
}
#header p{
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(117,117,117);
}
#header h1{
    margin-bottom: -15px;
    letter-spacing: 2px;
}
  

  /*About*/

  #about{
    /* transform: var(--translate); */
    /* margin: 0px 40px; */
     width: 50%;
    

  }
  #about h2{

  }
  #about p{
   
    max-inline-size: 500px;
    

  }
/*SECTION*/
section h2{
    font-size: 20px;
}

/*SKills*/
#Skill-section{
     width: 50%;
    
    
}
#each-skill{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 900px;
        overflow-x: visible;
 }
#each-skill div{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        height: 200px;
        /* align-items: center; */
        margin: none;
        padding: 15px 30px;
        margin: 20px;

}
#each-skill div:hover{
    background-color: #333;
    cursor: pointer;
}
#each-skill div img{
        height: 80%;
    }
#each-skill div h6{
        height: 20%;
        text-align: center;
        letter-spacing: 1px;
        font-size: 16px;
        margin: 12px 0px;
        line-height: 0px;

}
/*Project*/
#project-section{
    width: 50%;
    height: min-content;
    

}
.project{
    background-color: #333333;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 150px;
    padding: 10px;
    margin: 15px 0px;
}
.project h6{
    font-size: 30px;
    margin: 0px;
    padding: 5px;
    color: white;
    margin-left: 5%;

}
.project ul{
   list-style-type: none;
   display: flex;
   flex-direction: row;

}
.project ul li{
    margin: 0px 10px;
    padding: 5px;
    background-color: rgb(117,117,117);
    color: white;
}
.project:hover{
    box-shadow: 10px 8px 40px 20px #0ff;
    cursor: pointer;
    transform: translate(10px,0px);

}
.project p{
    font-size: 16px;
    margin: 0px;
    padding: 5px;
    color: white;
    margin-left: 5%;
}

.more-project{
    font-size: 30px;
    display: none;
    
}
.about-project{
    height: 100vh;
    width: 100%;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    align-items: center;
   overflow: scroll;
   
    
}
.each-image{
    max-height: 1600px;
    max-width: 1080px;
}

#descript-half{
    width: 50%;
    min-height: 100vh;
    /* background-color: #0ff; */
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    
    
}
#close-button{
    height: 60px;
    width: 200px;

    background-color: #333;
    border: none;
    margin-top: 40px;
    z-index: 4;
    margin: 5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #ddd;
    
}
#close-button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
#img-half{
    width: 70%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 20px;
    border-radius: 5px;
}

}
#img-half img:hover{
transform: scale(1.1);


}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    width: 100%;
    margin-top: 40px;
    margin-bottom: 100px;

}
/*Best @ and Worst @*/
.the-sections{
    width: 50%;
}
.the-sections li{
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 20px 0px;
}

  
  /* media query for responsive navigation */
  @media (max-width: 768px) {
    body{
        /* overflow-x: hidden; */
    }
    #mobile-nav{
        display: block;
        background-color: #333333;
        z-index: 3;
       
    }
    
    nav{
        display: none;
    }
    nav ul {
      flex-direction: column;
    }
  
    nav li {
      float: none;
    }
    #center{
        display: flex;
        flex-direction: column;
        
        justify-content: start;
        align-items: start; 
         align-content: center; 
        width: 100%;
        margin-left: 20px;
        box-sizing: border-box;
        overflow-x: hidden;
        
       }
       footer{
        display: flex;
        flex-direction: column;
        
        justify-content: start;
        align-items: start; 
         align-content: center; 
        width: 100%;
        margin-left: 20px;
        box-sizing: border-box;
        overflow-x: hidden;
       }
       #each-skill{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
        box-sizing: border-box;
        overflow-x: hidden;
 }
 #header{
    
    width: 100%;
    
   
 }
 #header h1{
    white-space: nowrap;
    margin-bottom: -15px;
    letter-spacing: 0px;
    
 }
 #header p{
    /* text-indent: 2%; */
    white-space: nowrap;
    color: rgb(117,117,117);
    white-space: nowrap;
 }

/*ABout*/
#about{
    width: 80%;
}

#about p{
   letter-spacing: .5px;
    max-inline-size: 600px;
    
}
/*SKills*/
#each-skill div{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        height: 200px;
        /* align-items: center; */
        margin-left: 30px;
        padding: 15px 1px;
        /* margin: 20px; */
        /* width: fit-content; */
        

    

  }
  #Skill-section{
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  */
   
   
}
.about-project{
    width: 500px;
}

/*Project*/

#project-section{
    width: 90%;
}
.project{
    background-color: #333333;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 200px;
    padding: 10px;
    margin: 15px 0px;
    box-sizing: border-box;
}

.project ul{
   list-style-type: none;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;

}
.project ul li{
    margin: 0px 3px;
    padding: 4px;
    background-color: rgb(117,117,117);
    color: white;
    font-size: 10px;
}
.project:hover{
    box-shadow: 10px 8px 40px 20px #0ff;
    cursor: pointer;
    transform: translate(10px,0px);

}
.project p{
    font-size: 16px;
    margin: 0px;
    padding: 5px;
    color: white;
    margin-left: 5%;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    height: 100px;
    white-space: normal;
}


/*Project Open*/
#more-project{
    display: fixed;
    overflow-y: scroll;
}

.about-project{
    height: 100%;
    width: 100%;
    color: white;
    /* position: fixed;
    top: 0;
    left: 0; */
    background-color: #333;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    align-items: center;
    overflow-y: scroll;
    z-index: 8;
    
}
.about-button{
    height: 300px;
    color: red;
}
.about-project img{
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 10px;
    height: 200px;
}
#img-half{
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
    position: relative;
}
#descript-half{
    width: 100%;
    height: 40%;
    /* background-color: #0ff; */
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    
}

#descript-half p{
    padding: 10px;
}
#descript-half img{
    padding: -20px;
   
    align-self: center;
    margin: 0px;
}
#descript-half img:hover{
 transform: scale(1.1);
}
}

.active{
    display: block;
    color: white;
  
    
}

.test1{
    display: flex;
    z-index: 5;
    flex-direction: column;
    min-height: 100vh;
    min-width: 50vw;
    font-size: 40px;
    background-color: beige;
    
    font-size: 16;
    overflow: hidden;
  
    
    
   
    line-height: 16px;
    

    

}
.test1 h6{
    font-size: 8em;
    margin: none;
    padding: none;
}
.test1 #test-images{
    overflow-x:scroll
}